@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    padding: 16px;
    text-decoration: none;
    color: #13bb79;
    
}

.menu a{
    font-family: rubik;
}

.btns{
   background-color: #13bb79;
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 5px 8px;
}

.btns:hover{
    color: #13bb79;
    background-color: #fff;
    border: 1px solid #13bb79 ;
}

.btns-contact{
    background-color: #13bb79;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
 }

.btns-contact:hover{
    color: #13bb79;
    background-color: #fff;
    border: 1px solid #13bb79 ;
}

.ban{
    color: #13bb79;
    padding: 100px;
    
}
.ban p{
    margin-top: 20px;
}

.car{
    margin-top: 20px;
    border: 2px solid;
}

.icon{
    padding: 15px;
    cursor: pointer;
}

.sub{
    margin-bottom: 30px;
}

.hea{
    position:sticky; top:0; right:0; left:0; z-index:1000;
}

.headers{
    padding: 15px;
}

.about{
    padding: 20px;
}

.education{
    height: 60%;
    width: 60%;
    float: right;
}

.contact p, h4{
    font-family: rubik;
    color: #fff;;
}

.menu, .btns {
	 
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-decoration: none!important;
  }